.main{
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
}

p{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;

}

.leftdashboard{
    background-color: rgb(138, 138, 232);
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
}
.leftdashboardbuttons{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.leftdashboardbuttons label{
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin-top: 5%;
    width: 80%;
    color: white;
    font-size: 20px;

}

.leftdashboardbuttons label:hover{
    background-color: rgba(186, 178, 178, 0.55);
    border-radius: 0.5rem;

}

.leftdashboardbuttonsbottom{
    display: flex;
    flex-direction: column;
    padding-left: 10%;

}

.leftdashboardbuttonsbottom label{
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin-top: 5%;
    width: 80%;
    padding-left: 5%;
    color: white;
    font-size: 20px;
}

.leftdashboardbuttonsbottom label:hover{
    background-color: rgba(186, 178, 178, 0.55);
    border-radius: 0.5rem;
}

.leftdashboard img{
    margin-right: 5%;
}

.innerrightdashboard{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.dashboardpage{
    display: block;
    width: 500px;
}

.bluedashboard{
    color: rgb(108, 108, 234);
}

.dashboardpagetop{
    color: rgb(108, 108, 234);
}

.dashboardanimalcount{
    display: flex;
    color: white;
    height: 250px;
    width: 850px;
    
}

.innerdashboardanimalcount{
    background-color: rgb(139, 139, 236);
    color: black;
    width: 50%;
    height: 250px;
    margin-right: 2%;
    margin-bottom: 2%;
}
.innerdashboardanimalcount2{
    background-color: aqua;
    color: black;
    width: 50%;
    height: 250px;
    margin-bottom: 2%;
}
.dashboardchart{
    width: 850px;
    height: 250px;
    background-color: aquamarine;
    margin-top: 2%;

}


