.main{
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;

}

.leftdashboard{
    background-color: rgba(18, 63, 97, 1);
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
}

.leftdashboard p{
    font-size: 35px;
}

.leftdashboardbuttons{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.leftdashboardbuttons label{
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin-top: 5%;
    width: 85%;
    color: white;
    font-size: 20px;
    cursor: pointer;

}

.leftdashboardbuttons label:hover{
    background-color: rgba(186, 178, 178, 0.55);
    border-radius: 0.5rem;

}

.leftdashboardbuttonsbottom{
    display: flex;
    flex-direction: column;
    padding-left: 10%;

}

.leftdashboardbuttonsbottom label{
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin-top: 5%;
    width: 80%;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.leftdashboardbuttonsbottom label:hover{
    background-color: rgba(186, 178, 178, 0.55);
    border-radius: 0.5rem;
    
}

.leftdashboard img{
    margin-right: 5%;
}

.innerrightdashboard{
    padding-top: 2%;
    padding-left: 3%;
}

.dashboardpage{
    display: block;
    width: 500px;
}

.innerrightdashboardtop{
    width: 1100px;
    display: flex;
    justify-content: space-between;

}

.bluedashboard{
    color: rgba(33, 150, 243, 1);
}

.dashboardpagetop{
    color: rgba(33, 150, 243, 1);
}

.dashboardanimalcount{
    display: flex;
    color: white;
    height: 150px;
    width: 1064px;
    
}

.dashboardanimalcount span{
    font-size: 40px;

}

.innerdashboardanimalcount{
    background-color: rgba(33, 150, 243, 1);
    color: black;
    margin-right: 1%;
    width: 532px;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
}

.innerdashboardanimalcount p{
    display: flex;
    justify-content: left;
    margin-top: 2%;
    margin-bottom: 0%;
}

.innerdashboardanimalcounttexts{
    padding-top: 3%;
    padding-left: 5%;

}

.innerdashboardanimalcount2{
    background-color: rgba(33, 150, 243, 0.03);
    color: black;
    width: 532px;
    border-radius: 0.3rem;
}

.innerdashboardanimalcount2 p{
    display: flex;
    justify-content: left;
    margin-top: 2%;
    margin-bottom: 0%;
    color: black;
}

.innerdashboardanimalcount2texts{
    padding-top: 3%;
    padding-left: 5%;

}

.dashboardchart{
    width: 900px;
    height: 200px;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.Animalcharttable h2{
    color: rgba(33, 150, 243, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    cursor: pointer;
}

.Animalcharttable table{
    width: 1064px;
    border: 1px solid transparent;
    border-collapse: collapse;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Animalcharttable th{
    width: 1064px;
    background-color: rgba(196, 196, 196, 0.4);
}
.Animalcharttable tr{
    width: 1064px;
    height: 50px;
    text-align: center;
    border: 1px solid rgba(229, 229, 229, 1);
    background-color: white;
}

.Animalcharttable-top{
    display: flex;
    justify-content: space-between;
}


