.landing-page {
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1.5px solid blue;
}

.mobilemenu{
    display: none;
}

.navbar h1 {
    color: rgba(33, 150, 243, 1);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;

}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.navbar li {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 64px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navhover :hover {
    border-bottom: 1px solid blue;
}

.navbar button {
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
}

.signup-button button {
    width: 100px;
    height: 35px;
    text-align: center;
    background: rgba(33, 150, 243, 1);
    color: white;
    border-radius: 0.5rem;
}

.signup-button :hover {
    background-color: rgba(98, 98, 229, 0.642);
    border-radius: 1rem;
}

.firstpage {
    display: flex;
    height: 80vh;
    width: 100%;
    margin-top: 5%;
}

.firstpage-left {
    margin: 8%;
    width: 45%;
    font-size: 20px;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

.firstpage-left img {
    margin-left: 2%;
    width: 65px;
    height: 65px;
}

.navbar img{
    margin-top: 1%;
    width: 80px;
    height: 80px;
}

.firstpage-left span {
    color: blue;
}

.firstpage-left h1 {
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: normal;
}

.firstpage-left h4 {
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: lighter;
}

.firstpage-left button {
    margin-top: 1%;
    height: 64px;
    width: 193px;
    background: rgba(33, 150, 243, 1);
    font-size: 20px;
    color: white;
    border: transparent;
    border-radius: 0.4rem;
    cursor: pointer;
}

.firstpage-right {
    width: 50%;
}

.firstpage-right img {
    width: 90%;
    height: 90%;
    border-radius: 50rem;
    margin-left: -4%;
}

.secondpage {
    background: linear-gradient(270deg, #2196F3 0%, #6A4FFD 100%);
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.secondpage1 {
    height: 130px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondpage1 img {
    margin-left: 2%;
    width: 65px;
    height: 65px;
}

.secondpage1 h2 {
    margin-left: 25%;
    margin-bottom: -40%;
    color: white;
}

.secondpage1 h4 {
    margin-left: 30%;
    color: white;
}

.secondpage2 {
    height: 130px;
    width: 426px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondpage2 img {
    margin-left: 2%;
    width: 65px;
    height: 65px;
}

.secondpage2 h2 {
    margin-left: -50%;
    margin-bottom: -10%;
    color: white;
}

.secondpage2 h4 {
    margin-left: 10%;
    width: 200px;
    color: white;
}

.secondpage3 {
    height: 130px;
    width: 426px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondpage3 img {
    margin-left: 2%;
    width: 65px;
    height: 65px;
}

.secondpage3 h2 {
    margin-left: -50%;
    margin-bottom: -10%;
    color: white;
}

.secondpage3 h4 {
    margin-left: 10%;
    width: 200px;
    color: white;
}

.thirdpage {
    margin-top: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.thirdpage-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thirdpage img {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80%;
    height: 500px;
    border-radius: 0.5rem;
}

.thirdpage h1 {
    text-align: center;
}

.thirdpage span {
    color: rgba(33, 150, 243, 1);
}

.thirdpage h4 {
    text-align: center;
    margin-top: 2%;
    padding-left: 50px;
    padding-right: 50px;
}

.fourthpage {
    height: 100vh;
    width: 100%;
}

.fourthpage-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

.fourthpage-right {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourthpage-img {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourthpage-img img {
    height: 671px;
    width: 582px;
}

.keylists img {
    height: 69px;
    width: 69px;
}

.keylists1 {
    display: flex;
    width: 100%;
    height: 120px;
    align-items: center;
}

.fourthpage p {
    color: black;
    padding: 2%;
    text-align: left;
}

.fourthpage h1 {
    color: black;
    margin-bottom: 0%;
    text-align: center;
    text-align: left;
    font-weight: normal;
    font-size: 30px;
}

.fourthpage span {
    color: rgba(33, 150, 243, 1);
}

.fifthpage {
    height: 100%;
    width: 100%;
    background: rgba(250, 250, 250, 1);
}

.fifthpage h1 {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 3%;
    font-size: 35px;
}

.fifthpage span {
    color: rgba(33, 150, 243, 1);
}

.fifthpage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 34px;
}

.fifthpage-grid img {
    width: 100%;
    height: 250px;
    display: flex;
    align-self: center;
    justify-self: center;
}

.fifthpage-grid h1 {
    color: black;
    margin-top: -5%;
    font-size: 15px;
    font-weight: lighter;
    text-align: left;
}

.fifthpage-grid h2 {
    font-weight: normal;
    color: rgba(33, 150, 243, 1);
    font-size: 25px;
    margin-top: 1%;
    text-align: left;
}

.grid1 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: 80%;
    height: 312px;
    align-self: center;
    justify-self: center;
}

.grid2 {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    width: 80%;
    height: 312px;
    align-self: center;
    justify-self: center;
}

.grid3 {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    width: 80%;
    height: 312px;
    align-self: center;
    justify-self: center;
}

.grid4 {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    width: 80%;
    height: 312px;
    align-self: center;
    justify-self: center;
}

.sixthpage {
    height: 100vh;
    width: 100%;
    background-color: azure;
    display: block;
}

.sixthpage-top {
    margin: auto;
    width: 80%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.sixthinfo {
    height: 360px;
    width: 1241px;
    background: linear-gradient(270deg, #2196F3 0%, #6A4FFD 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.sixthinfo h2 {
    color: white;
    width: 700px;
    text-align: center;
    line-height: 32px;
    font-size: 32px;
}

.sixthinfo button {
    width: 234px;
    height: 64px;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    color: black;
    border-radius: 0.5rem;
    border: 1px solid white;
    cursor: pointer;
}

.sixthpage-bottom {
    width: 100%;
    height: 35%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding-top: 5%;
}

.sixthpage-bottom h3 {
    font-weight: lighter;
}

.sixthlivestock {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;
}

.sixthlivestock h2 {
    text-align: left;
}

.sixthpage-bottom h2 {
    color: rgba(33, 150, 243, 1);
}

.sixthcontact {
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sixthcontact h2,
h3 {
    margin: 0;
    display: flex;
    align-self: left;
    justify-self: left;
    margin-bottom: 2%;
}

.sixthlist {
    width: 33.33%;
    height: 100%;
}

.sixthlist img {
    width: 35px;
    height: 35px;
}

.sixthpage-bottom ul {
    display: flex;
    gap: 8%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.mobilemenu-ol {
    display: none;
  }
  
  .mobilemenu-ol.show {
    display: block;
  }
  
  .mobilemenu-ol.hide {
    display: none;
  }




/* Media Queries for Mobile Responsiveness */

@media (max-width: 768px) {

    .landing-page{
        width: 100%;
        margin: 0%;
    }

    .mobilemenu {
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;
        margin-right: -20%;
      }

      .logomain{
        display: none;
      }
    
      .mobilemenu-ol {
        width: 30%;
        padding-right: 40%;
        margin-left: 25%;
      }
    
      .navbar ul {
        display: none;
      }
    
      .navbar button {
        display: block;
        color: white;
        margin-left: -55px;
        margin-right: -18px;
      }

      .navbar{
        width: 105%;
        padding-left: 2%;
      }  
    
    .navbar h1{
        margin-left: -8%;
    }

    .mobilemenubutton img{
        height: 40px;
        width: 40px;
    }

    .nav ol,li{
        display: flex;
        flex-direction: row;
    }

    .navbar ul {
        flex-direction: column;
        gap: 1rem;
        display: none;
        flex-direction: row;
    }

    .firstpage {
        flex-direction: column;
        margin-top: 10%;
        height: 500px;
    }

    .firstpage-left {
        width: 95%;
        padding-left: 2%;
        margin: 0;
    }

    .firstpage-left button {
        width: 70%;
        display: block;
        justify-self: center;
        align-self: center;
        margin-left: 13%;
        margin-top: 5%;
    }

    .firstpage-right{
        display: none;
    }

    .firstpage-right img {
        width: 100%;
        height: auto;
    }

    .secondpage {
        flex-direction: column;
        height: auto;
        width: 95%;
        padding: 3.5%;
    }

    .secondpage1,
    .secondpage2,
    .secondpage3 {
        width: 80%;
        justify-content: flex-start;
    }


    .thirdpage{
        width: 95%;
        padding-left: 2.5%;
    }
    .thirdpage img {
        width: 90%;
        height: auto;
        padding: 3%;
    }

    .fourthpage-wrapper {
        flex-direction: column;
    }

    .fourthpage-right{
        width: 95%;
        padding: 3%;
        
    }

    .fourthpage-img{
        margin-left: 25%;
    }

    .fourthpage-img img {
        width: 100%;
        height: auto;
    }

    .fifthpage{
        width: 100%;
        padding-left: 2%;
    }

    .fifthpage-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        margin-top: 15%;
    }

    .fifthpage-grid img {
        height: auto;
    }

    .sixthpage{
        width: 100%;
        
    }

    .sixthpage-top,
    .sixthpage-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 50%;
        padding-left: 2%;
        
    }

    .sixthpage-top h2{
        font-size: 20px;

    }

    .sixthpage-bottom{
        margin-top: 5%;
        padding-top: 0;
        padding-bottom: 10%;

    }

    .sixthinfo {
        width: 95%;
        padding: 3%;
    }

    .sixthinfo h2 {
        width: 100%;
    }

    .sixthpage-bottom ul {
        flex-direction: column;
        gap: 1rem;
    }

    .sixthpage-bottom h3{
        text-align: left;
        padding-left: 1%;
    }

    .sixthlivestock,
    .sixthcontact{
        width: 100%;
        margin: 0;
    }
    .sixthlist {
        display: none;
        flex-direction: row;
    }

}
