.Settings {
  width: 1150px;
  margin-left: 3%;
}

.user-info {
  margin-top: 10%;
  max-width: 1200px;
  border: 4px #E5E5E5 solid;
}

.user-info h3{
  font-weight: lighter;
}

.user-info img{
  padding-right: 20px;
  height: 60px;
  width: 60px;
}

.edit-profile-head{
margin-bottom: 3rem;
}

.edit-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  margin: 3%;
}
.edit-profile-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-profile-right button{
  background: rgba(33, 150, 243, 1);
  height: 74px;
  width: 218px;
  font-size: 24px;
  color: white;
  border: 1px solid white;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.edit-profile-right button img{
  height: 30px;
  width: 30px;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3%;
  height: 80px;
  width: 90%;
}

.user-profile-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-image{
  width: 70px;
  margin-right: 15px;
}

.username{
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: capitalize;
  color:#2196F3;
  ;
}
.username-,.name{
  font-size: 18px;
  color: #8B8B8B;
}

.edit-profile-button {
  display: inline-flex;
  align-items: center;
  padding: 15px 30px;
  background-color: #1DA1F2; /* Button background color */
  color: white; /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.edit-profile-button img {
  margin-right: 10px;
}

.name-icon{
  width: 35px;
  margin-right: 10px;
}

