.signup-wrapper {
  margin: 0 auto;
}
.signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  height: 85vh;
  max-width: 1440px;
}

.leftsignup {
  grid-column: 1;
  background-color: white;
  max-width: 500px;
  width: 60%;
}

.backhome button{
  height: 10%;
  background-color: white;
  /* border: 2px black solid; */
  margin-left: 1%;
  margin-top: 1%;
  border-radius: 0.5rem;
  cursor: pointer;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 600px;
  width: 70%;
  padding: 2%;
  font-size: 17px;
}

form img{
  height: 130px;
  width: 150px;
  display: flex;
  align-self: center;
}
.signuptop {
  color: rgb(85, 85, 189);
  font-size: 25px;
  margin-bottom: 2%;
}
.signupbutton {
  width: 103%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-top: 2%;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}

.signupbottom button {
  border: none;
  background-color: transparent;
  color: rgb(85, 85, 189);
  font-size: 15px;
  cursor: pointer;
  font-weight: bolder;
}

.signupbottom button:hover {
  background-color: transparent;
}

.signupbutton:hover {
  background-color: skyblue;
  border-radius: 0.5rem;
}

form input {
  width: 100%;
  height: 45px;
  margin-top: 2%;
  border: 0.5px solid transparent;
  background-color: rgb(243, 237, 237);
  outline: none;
  font-size: 20px;
  font-weight: lighter;
  padding-left: 2%;
  border-radius: 0.5rem;
}

form input::placeholder {
  color: rgb(182, 176, 176);
  font-size: 17px;
  padding-left: 5px;
}

form input:hover {
  outline: 1.5px solid rgba(33, 150, 243, 1);
}

form label {
  display: block;
  padding-top: 2%;
  padding-bottom: 2%;
}

.signupbottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  font-size: 18px;
}

.signupbottom a {
  color: rgb(85, 85, 189);
  padding-left: 1%;
  text-decoration: none;
}

.rightsignup img {
  width: inherit;
  width: 80%;
  max-width: 100%;
}

.rightsignup {
  height: 100%;
  display: flex;
  width: 39%;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

@media screen and (max-width: 768px) {
  .signup-wrapper{
    height: 90vh;
  }

  .rightsignup {
    display: none;
  }
  .leftsignup {
    width: 100%;
    max-width: 500px;
  }
  form {
    font-size: 1rem;
  }
  .signuptop {
    font-size: 1.5rem;
  }

  form img {
    height: 150px;
    width: 200px;
    display: flex;
    align-self: center;
}

.signupbottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  font-size: 18px;
}

.signupbutton {
  /* width: 105%; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: lighter;
  margin-top: 4%;
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 4%;
}


}

input.filled {
  border-width: 2px;
  border-color: rgb(18, 174, 236);
}
